@charset "utf-8";
/* CSS Document */

.form-block {
    border: 1px solid #999;
    padding: 5px 5px 1px;
}

.form-block input {
    padding: 2px 10px;
    width: calc( 100% - 22px );
    margin: 0 0 5px;
}

.form-block textarea {
    padding: 10px;
    width: calc( 100% - 22px );
}

.form-block textarea {
    width: calc( 100% - 20px );
}

#jsonOutput {
	width: calc( 100% - 6px );
	margin-top: 10px;
}

.content-wrapper {
    display: flex;
    flex: 1 0 100%;
    max-width: 1440px;
    margin: 20px auto;
}

.left-column {
    display: flex;
    flex-direction: column;
    flex: 0 0 250px;
    max-width: 250px;
}

.right-column {
    display: flex;
    flex: 1;
    width: 100%;
}

.right-column form#myForm {
    width: 100%;
}

.left-column ul {
    list-style: none;
    padding: 0;
    height: 83.3vh;
    overflow-y: auto;
}

.left-column ul li a {
    text-decoration: none;
    background: #dfe1e3;
    display: block;
    padding: 10px 10px 10px 24px;
    color: #111;
    overflow: hidden;
}

.left-column ul li a.active {
    background: #198754;
    color: #fff;
}

.left-column ul li {
    margin: 0 0 3px;
    position: relative;
}

a.new_file {
    text-decoration: none;
    background: #198754;
    display: block;
    padding: 10px;
    color: #fff;
}

.left-column ul li a.delete {position: absolute;top: 50%;right: 10px;margin-top: -14px;background: none;padding: 0;}

.left-column ul li a.delete img {
    height: 16px;
}

.right-column input[type="submit"] {
    width: calc( 50% - 20px );
    display: inline-block;
    padding: 8px;
}

.form-block a.new_file {
    width: calc( 50% );
    display: inline-block;
    margin-left: 20px;
    text-align: center;
}

.left-column input[type="submit"] {
    text-decoration: none;
    background: #198754;
    display: block;
    padding: 10px;
    color: #fff;
    border: none;
    width: calc( 100% - 0px );
    margin-top: 10px;
}

.left-column .top-panel {
    position: relative;
    padding: 5px 5px 5px 24px;
    background: #198754;
    color: #fff;
}

.col1 {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 20px;
}

.col1 input {
    position: absolute;
    left: 5px;
    top: 50%;
    margin-top: -6px;
}

.deletebtn {
    display: none;
}

.deletebtn.show {
    display: block;
    position: absolute;
    right: 0px;
    top: 0;
    color: #fff;
    text-decoration: none;
    padding: 5px 20px;
    background: #f00;
}

.form-block .title {
    margin: 0 10px 5px 0px;
    font-weight: 600;
    width: 160px;
    text-align: right;
}

.form-block > div {
    display: flex;
    align-items: center;
}

.form-block > div > div {
    width: calc(100% - 22px);
    !i;!;!o;!;
}

.tox.tox-tinymce {
    height: 475px !important;!i;!;
}